@import url("https://fonts.googleapis.com/css?family=Albert Sans");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

body {
  font-family: "Albert Sans", sans-serif;
  padding-top: 50px;
}

.box {
  flex: 1;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.row-box {
  display: flex;
  flex-direction: row;
}

.graph-container {
  margin-bottom: 20px;
}

.scrollable {
  overflow-y: scroll;
  max-height: 400px;
}

.dropdown-container {
  margin-bottom: 20px;
}

.dropdown-label {
  font-weight: bold;
}

.custom-dropdown {
  color: #000;
  margin-bottom: 15px;
  margin-top: 10px;
}

.dropdown-label {
  margin-bottom: 5px;
}

.dino-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dino-card {
  margin-bottom: 20px;
  padding: 10px;
  border: 0px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
  margin-right: 2%;
  float: left;
  box-sizing: border-box;
}

.main-container {
  display: flex;

}

.sidebar {
  background: #11101d;
  color: #fff;
  width: 260px;
  padding: 20px;

  position: fixed;
  height: 100vh;
  overflow-y: auto;
}

.main-content {
  flex: 3;
  padding: 30px;
  background: #f4f4f4;
  color: #333;

  margin-left: 300px;

}

.discovery-frame {
  overflow-y: auto;
}

#scroll-down-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

#scroll-down-button {
  font-size: 60px;
  background-color: transparent;
  color: white;
  border: none;
}

#scroll-down-button:hover {
  color: #ccc;
  cursor: pointer;
}

#scroll-up-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

#scroll-up-button {
  font-size: 60px;
  background-color: transparent;
  color: white;
  border: none;
}

#scroll-up-button:hover {
  color: #ccc;
  cursor: pointer;
}